<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light">
        <div class="container-fluid">
            <div>
                <span class="fw-bold" th:text="${#authentication.name}">USERNAME</span>
                <span> with roles: </span>
                <span sec:authorize="hasRole('ROLE_ADMIN')">ADMIN</span>
                <span sec:authorize="hasRole('ROLE_USER')">USER</span>
            </div>
            <a class="text-decoration-none font-weight-bold text-secondary" th:href="@{/logout}">Logout</a>
        </div>
    </nav>
</div>

