<div th:fragment="userInfo">
    <h1 class="ps-3">User information-page</h1>
    <div class="container-fluid">
        <div class="row border">
            <h5 class="p-2">About user</h5>
        </div>
        <div class="row border bg-white">
            <table class="table table-borderless table-striped">
                <thead>
                <tr class="border-top">
                    <th scope="col">ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Role</th>
                </tr>
                </thead>
                <tbody>
                <tr class="border-top bg-light">
                    <td id="user-id">id</td>
                    <td id="user-firstName">firstName</td>
                    <td id="user-lastName">lastName</td>
                    <td id="user-age">age</td>
                    <td id="user-email">email</td>
                    <td id="user-role">role</td>
                </tr>
            </table>
        </div>
    </div>
</div>

